# Compiled artifacts
debug/
target/

# Generated documentation
doc/

# Coverage reports and data
coverage/
*.lcov
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
*.profrawl

# This is (mostly) libraries; ignore Cargo.lock files.
Cargo.lock

# MacOS cruft
.DS_Store

# Windows cruft
Thumbs.db
Desktop.ini

# Backup files from rustfmt and editors
**/*.rs.bk
*~
*.patch
*.orig
*.rej

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# IDE files
.idea/
.vscode/
